<!DOCTYPE html>
<html>
  <head>




    <title>Pinterest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='background-div1'></div>

  		<div class='overdiv'>

  			<div class="navbar"></div>

  			
  			<%= link_to "home", root_path,  :class => "home_link"%>
			<%= link_to "about", about_path, :class => "about_link"  %>
  		</div>

		
	


    <%= yield %>
  </body>
</html>
